body {
    background: white !important;
    background-image: linear-gradient(top, black, black);
    font-family: 'Poppins', sans-serif;
    color: #e000e0;
}

p {
    font-family: 'Courier New', Courier, monospace;
}