body {
  font-family: 'Poppins', sans-serif !important;
  background-color: black !important;
  background-image: none !important;
  color: #e000e0 !important;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  display: flex !important;
  min-height: 100vh !important;
}

.main {
  width: 60% !important;
  background-color: #111 !important;
  padding: 2em !important;
  max-width: none !important; /* Override the 40dvw from embed */
  box-sizing: border-box;
}

.sidebar {
  display: none !important; /* Hide the embed's sidebar if you don't want it */
}