body {
  background-image: none !important;
  color: #e000e0 !important;
}

.main {
  width: 60% !important;
  background-color: #111 !important;
  padding: 2em !important;
  max-width: none !important; /* Override the 40dvw from embed */
  box-sizing: border-box;
}

.post {
  background-color: #111;
  color: #e000e0 !important;
  outline-color: #7c7c7c;
  outline-width: 4px;
}

.title {
  background-color: #111;
  color: white !important;
}

p {
  color: white !important;
}

.metadata {
  color: white !important;
}