body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  background: radial-gradient(circle at center, rgb(0, 0, 0) 0, rgb(0, 0, 0), rgb(0, 0, 0), rgb(120, 0, 120), rgb(0, 120, 60) 100%); 
  color: #e000e0;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
}
