body {
    background: white !important;
    background-image: none !important;
    font-family: 'Poppins', sans-serif;
    color: #e000e0;
}

.container {
    background: white !important;
    background-image: none !important;
}
