body {
    font-family:sans-serif;
    background-color:black;
    color: rgb(224, 0, 224);
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}
a:hover {
    text-decoration: underline;
}
.indented {
    margin-left: 1em;
}
.green {
    color: rgb(0, 197, 0);
}